@import "variables";

.container{
    height: 90vh;
    display: flex;
    margin: 0 6vw;
    @include first-breakpoint{
        margin:0 2vw;
    }
    justify-content: center;
    align-items: center;
}

.formSpace{
    background: rgba(0, 0, 0, 0.742);
    padding: 15px;
    border-radius: 10px;
    min-height: 300px;
    min-width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 20px black;

    @include first-breakpoint{
        min-width: 70%;
    }

    @include second-breakpoint{
        min-width: 90%;
    }

    label{
        color:$text-color-alpha;
        font-size: 20px;
    }

    input[type="submit"]{
        cursor:pointer;
    }


}
