@import "variables";

.container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.outterRim{
    min-height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formGrouping{
        border-radius: 12px;
        background: rgba(0, 0, 0, 0.742);
        padding: 20px 70px;
    }

    label{
        color:$text-color-alpha;
        font-size: 20px;
    }
}
